.reference-letter-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}
.gender-select {
  width: 50%; /* Or any width you prefer */
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 130px;
}
.paragraph-box {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 10px;
  width: 100%;
  color: #333333;
  text-align: center;
}

.form-text-editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form-section label {
  width: 100%;
  text-align: left;
}

.form-section input[type="text"], .form-section textarea, .form-section select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ql-container {
  width: 100%;

}

.ql-editor {
  min-height: 600px; /* Increase the height here */
   
}
.submit-btn {
  width: 200px; /* Or any width you prefer */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .reference-letter-container {
    padding: 10px;
  }

  .title {
    font-size: 28px;
  }
}
.response-text {
  font-weight: bold;
  margin-bottom: 30PX;;
}
